#Education{
    color: blue;
    background-color: bisque;
    height: 43px;
    width: 20%;
    font-size:35px;
 
}
#Niloy{
  color: black;
  background-color: yellowgreen;
  font-size: 20px;
  width: 15%;
  height: 50px;
  border: 4px dotted red;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
font-family: sans-serif;
}
.School{
    width: 35%;
    background-color: burlywood;
    border: 4px solid seagreen;
    border-radius: 5px;
    margin: 10px 15px 20px 20px;
    padding: 10px;
   
}
.Result{
    background-color: violet;
    color: black;
}
#First{
    color:green;
}
.Life{
    color: blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
